body, html {
    font-family: 'Arial narrow bold', sans-serif, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

.video-background {
    position: static;
    height: 100vh;
    width: 100vw;
    object-fit:cover
     
}

#bgVideo {
    position: static;
    margin: 0;
    object-fit:cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust the width as needed */
    max-width: 1200px; /* Set a maximum width for the content */
    overflow-y: auto; /* Enable vertical scrolling for content */
}

.content {
    color: white;
    text-align: center;  
}

h1 {
    font-size: 30px;
    margin: 0;
}

h2 {
    font-size: 20px;
}

h3 {
    margin: 3px;
}

p {
    font-size: 16px;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.profile-section {
    overflow: hidden;
    flex: 1;
    max-width: 33.3333%;
    box-sizing: border-box;
    padding: 20px;
    background-color: none;
    
}

.profile-section img {
    width: 100%;
    border-radius: 20%;
    margin-bottom: 20px;
}

.skills {
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    background-color: rgba(0, 6, 92, 0.199);
    border-radius: 20px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.skills.first i {
    font-size: 20px
}

.contact {
    margin-top: 10px;
    margin-bottom: 10px;
}

.percentage-bar {
    display: block;
    height: 12px;
    border-radius: 6px;
    background-color: white;
}

.content-section {
    overflow: hidden;
    flex: 2;
    max-width: 66.6667%;
    box-sizing: border-box;
    padding: 20px;
}

.education, .work-history {
    margin-bottom: 30px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    background-color: rgba(0, 6, 92, 0.199);
    border-radius: 20px;
    padding: 20px;
}

.date {
    font-size: 14px;
    Margin: 10px;
}

.title {
    font-style: italic;
}

hr {
    margin: 20px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        
    }

    .profile-section, .content-section {
        max-width: 100%;
        
    }

    .content-container {
        width: 90%;
        
    }
}

button {
    background-color: rgba(0, 6, 92, 0.199);
    color: white;
    
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: black;
}

.margin {
    margin-right:16px;
    margin-left: -5px;
}

.left {
    text-align: left;
}

.progress-container {
    text-align: center;
}

.progress-text {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 3px;
    text-align: left;
}

.progress-bar {
    width: 100%;
    height: 10px;
    border: 1px solid #ccc; /* Outline color representing 100% */
    position: relative;
    margin-top: 2px;
    margin-bottom: 10px;
    border-radius: 5px;

}

.progress-bar .progress {
    height: 100%;
    width: 50%; /* Change this value to set the percentage */
    background-color: rgb(255, 255, 255); /* Color of the progress bar */
    position: absolute;
    border-radius: 5px;
    
}

.progress-bar .text {
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.indent {
    text-align: left;
    text-indent: 50px;
}

#playPauseBtn {
    margin-top: 5px;
}